*{
    padding:0;
    margin:0;
 }
body {
    background-color:#91DDCF;
  }
  .main{
      margin-left:4%;
  }
  .heading {
    text-align: center;
    margin-top:2%;
  }
  .H1{
      font-size:15px;
  }
  .H2{
      font-size:25px;
  }
  
  h1 {
    transition: 0s;
    transform: scale(1.1);
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
  }
  
  .card {
    background-color:#373A40;
    width:250px;
    height:120px;
    border-radius:1rem;
    margin-left:4%;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    justify-content:center;
    align-items:center;
    text-wrap:wrap;
    transition: 0.3s;
    cursor:pointer;
}
  .card:nth-of-type(1) {
    background-color:#50B498; /* Tomato */
}

.card:nth-of-type(2) {
    background-color: #E68369; /* Sky Blue */
}

.card:nth-of-type(3) {
    background-color: #FFF078; /* Gold */
}

.card:nth-of-type(4) {
    background-color: #E90074; /* Green Yellow */
}

.card:nth-of-type(5) {
    background-color: #597445; /* Medium Orchid */
}

.card:nth-of-type(6) {
    background-color: #3AA6B9; /* Light Salmon */
}
  
  .card:hover {
    transform: scale(1.1);
    background-color: #333; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }
  
  .card_name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card_name span {
    font-size: 10px;
  }
  
  .card_total {
    font-size: 200%;
    font-weight: bold;
    /* margin-top:1px; */
    color: #fff; /* Text color */
    text-shadow: 
        2px 2px 2px rgba(0, 0, 0, 0.5), 
        4px 4px 4px rgba(0, 0, 0, 0.5), 
        6px 6px 6px rgba(0, 0, 0, 0.5);
  }
  .card_total .card_small{
    margin-top:1px;
  }
  
  @media (max-width: 600px) {
    .card {
        width: 100%; /* Make cards full width on small screens */
        margin: 1% 0; /* Adjust margins for small screens */
    }
  }

  
